fastapi
uvicorn[standard]
jinja2
python-multipart
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-postgres

psycopg[binary]
sqlalchemy
pgvector
asyncpg

sentence-transformers
pypdf
orjson
